html {
    background: rgb(13, 22, 36);
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    padding: 40px;
    color: rgb(224, 227, 232);
    border-top: 30px solid rgb(35, 57, 93);
    /*background: rgb(25, 40, 65);*/
    background: linear-gradient(to bottom, rgb(25, 40, 65), rgb(11, 24, 39));
    border-radius: 15px;
    
}

h1 {
    text-align: center;
    background: rgb(35, 57, 93);
    font-size: 3em;
    margin: 0;
    color: rgb(224, 227, 232);
    /*found this at w3schools.com/csS/css3_shadows.asp*/
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

h2 {
    text-align: center;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(35, 57, 93);
    color: rgb(224, 227, 232);
    /*found this at w3schools.com/csS/css3_shadows.asp*/
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
    
}

h3 {
    
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center ;
}

.container {
    display:flex;
    justify-content: space-evenly;
    margin: 10px;
    
}


.picOfMe {
    
    max-width: 100%;
    border-radius: 8px;
}

.About {
    
    background: rgb(32,51,84);
    margin: 10px;
    
    
}

p {
    font-size: 1.25em;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.Navigation {
    font-size: 1.5em;
    background: rgb(35, 57, 93);
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.elements a{
    
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    background: rgb(94, 111, 152);

    /*I found this cool hover at https://www.w3schools.com/css/css3_images.asp*/
    transition: background-color 0.3s;
    
}
/*I found this cool hover at https://www.w3schools.com/css/css3_images.asp*/
.elements a:hover {
    background-color: rgb(78, 105, 168); /* Change the background color on hover */
}

.photo {
    
    max-width: 25%;
    height: auto;
    display: block;
    margin: 10px;
    padding: 10px;
  }

  .dev_log {
    background: rgb(35, 57, 93);
    margin-top: 20px;
    margin-right: 70%;
}
.dev_log nav {
    display: flex;
    flex-direction: column;
}
.dev_log a {
    text-decoration: none;
    color: white;
    padding: 10px;
    transition: background-color 0.3s;
}
.dev_log a:hover {
    background-color: rgb(78, 105, 168);
}

.Gundam {
    max-width: 100%;
    border-radius: 8px;
}

.backpack {
    max-width: 100%;
    border-radius: 8px;
}

.contact {
    display: flex;

}

.resume {
    
    max-width: 100%;
    border-radius: 8px;
}

.contact_form {
    margin-top: 50px;
    padding: 50px;
    background: rgb(32,51,84);
    margin-bottom: 50%;
    border-radius: 15px;
}





